/* Color definitions */
$base_color: #303030;
$aux_color: #0372B5;
$font_color_nav: white;
$footer_color: lighten($base_color, 45%);
$footer_border_color: darken(white, 30%);
$footer_font_color: darken(white, 10%);
$posts_bakcground_color: lighten($base_color, 64%);
$post_excerpt_color: lighten($base_color, 50%);



/* Size definitions */
$navbar_height: 60px;
$post_page_width:80%;
$post_excerpt_width: 60%;
$post_img_width: 55%;
$post_img_height: 280px;

$text_page_width: 80%;
$text_page_textarea: 70%;
$text_page_textarea_md: 85%;
$text_page_img_width: 65%;
$text_page_img_height: 350px;
$text_page_img_height_md: 150px;
