@import "page-scheme";
@import "mixins";

/* clearfix */
.row:before,
.row:after,
.clear_float:before,
.clear_float:after {
	content: "";
	display: table;
}

.clear_float:after {
	clear: both;
}
/* End clearfix */

html, body {
    margin: 0px;
    padding: 0px;
}

body {
	font-family: Helvetica, sans-serif;
	margin-top: $navbar_height;
	@include vertical_gradient(white, $base_color);
}


.container {
	width: 80%;
	margin: 0px auto;
	text-align: center;
}


.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $base_color;
    height: $navbar_height;
    .navbar_logo {
        float: left;
        padding: 15px;
        padding: 0px 15px 0px 15px;
        a {
            text-decoration: none;
            color: $font_color_nav;
            font-weight: bold;
        }
    }

    .navbar_menu {
        float: right;
        @extend .clear_float;
        ul {
            list-style: none;
            padding: 5px 15px 5px 15px;

        }
        li{
            display: inline;
            padding: 2px 0px;
        }
        a {
            text-decoration: none;
            color: $font_color_nav;
            font-weight: bold;
			padding: 0px 10px;
        }
		a:hover {
			border-bottom: 3px solid;
		}

    }

	.navbar_divisor {
		color: #0372B5;
	}
}


/* HOMEPAGE */
#perf_img {
    border-radius: 50%;
    transform: scale(0.65);
    border-color: white;
    border-width: medium;
}



/* END HOMEPAGE */
