@import "page-scheme";
@import "mixins";

/* clearfix */
.row:before,
.row:after,
.clear_float:before,
.clear_float:after {
	content: "";
	display: table;
}

.clear_float:after {
	clear: both;
}
/* End clearfix */

html, body {
    margin: 0px;
    padding: 0px;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	font-family: Helvetica, sans-serif;
}

.wrapper {
	padding: 0px;
	padding-top: $navbar_height;
	@include vertical_gradient(white, $base_color);
}

.container {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

.current_page{
	border-bottom: 3px solid;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $base_color;
    height: $navbar_height;
    .navbar_logo {
        float: left;
        padding: 15px;
        padding: 0px 15px 0px 15px;
        a {
            text-decoration: none;
            color: $font_color_nav;
            font-weight: bold;
        }
    }

    .navbar_menu {
        float: right;
        @extend .clear_float;
        ul {
            list-style: none;
            padding: 5px 15px 5px 15px;

        }
        li{
            display: inline;
            padding: 2px 0px;
        }
        a {
            text-decoration: none;
            color: $font_color_nav;
            font-weight: bold;
			padding: 0px 10px;
        }
		a:hover {
			border-bottom: 3px solid;
		}

    }

	.navbar_divisor {
		color: #0372B5;
	}
}


.footer {
	position: absolute;
	bottom: 0px;
	background-color: lighten($base_color, 45%);
	width: 100%;
	padding: 5px 10px 5px 0px;
	font-size: 95%;
	box-sizing: border-box;
	border-top: 1px solid darken(white, 30%);

	.footer_cop{
		text-align: right;
		color: darken(white, 10%);
	}
}


/* HOMEPAGE */
#perf_img {
    border-radius: 50%;
    transform: scale(0.65);
    border-color: white;
    border-width: medium;
}
/* END HOMEPAGE */

/* CONTACTPAGE */
.contactpage {
	padding-top: 150px;

}
/* END CONTACTPAGE */

/* PROJECTSPAGE */
.category_menu {
	border-top: 1px solid white;
	border-bottom: 1px solid white;

	 ul {
		 list-style: none;
	 }
	 li {
		 display: inline;
	 }
	 a{
	     font-weight: bold;
	     padding: 2px 10px;
		 padding-top: 7px;
	     color: white;
	     text-decoration: none;
	 }
	 a:hover{
		 border-top: 3px solid white;

	 }
}

.posts_page {
	width: 80%;
	padding: 0px;
	min-height: 100%;
	box-sizing: border-box;
	background-color: lighten($base_color, 64%);
}

.post {
	padding-top: 60px;
	.post_thumbnail {
		img {
			width: $post_img_width;
			height: $post_img_height;
			border-radius: 20px;
			border: 2px solid white;
			box-sizing: border-box;
		}
	}

	.post_excerpt {
		width: 60%;
		margin: auto;
		text-align: left;
		border-bottom: 1px solid lighten($base_color, 50%);
		.post_title {
			display: block;
			margin-top: 20px;
			font-size: 135%;
			font-weight: bold;

			a {
				text-decoration: none;
				color: $base_color;
			}
			a:hover{
				text-decoration: underline;
			}
		}

		.post_info {
			color: lighten($base_color, 45%);
			margin: 6px 0px 0px 0px;
			a{
				color: lighten($base_color, 45%);
			}
		}

		.post_meta {
			color: $base_color;
			margin: 10px 0px 30px 10px;
		}
	}
}

.post:last-child{
	padding-bottom: 60px;
}
/* END PROJECTSPAGE */

/* POSTTEXTPAGE */
.post_text_page {
	color: $base_color;
	margin-top: 0px;
	padding-top: 50px;
	padding-bottom: 50px;

	width: 80%;
	min-height: 100%;
	box-sizing: border-box;
	background-color: lighten($base_color, 64%);

	.text_page_title {
		text-decoration: underline;
		font-weight: bold;
		font-size: 200%;
	}

	.text {
		width: 70%;
		display: block;
		margin: auto;
		margin-top: 35px;
		margin-bottom: 20px;
		text-align: left;

	}

	.note {
		margin-top: 35px;
		margin-bottom: 20px;
		text-align: center;
		font-style: italic;
	}

	.main_img {
		img {
			width: $text_page_img_width;
			height: $text_page_img_height;
			border-radius: 10px;
			border: 2px solid white;
			box-sizing: border-box;
		}
	}

	ul {
		margin: auto;
		text-align: left;
		width: 70%;
	}


}
/* END POSTEXTPAGE */
