@import "page-scheme";
@import "mixins";

/* clearfix */
.row:before,
.row:after,
.clear_float:before,
.clear_float:after {
	content: "";
	display: table;
}

.clear_float:after {
	clear: both;
}
/* End clearfix */

html, body {
    margin: 0px;
    padding: 0px;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	font-family: Helvetica, sans-serif;
}

.wrapper {
	padding: 0px;
	padding-top: $navbar_height;
	@include vertical_gradient($font_color_nav, $base_color);
	@extend .clear_float;

	@include md {
		padding-top: 0px;
	};
}

.container {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

.current_page{
	border-bottom: 3px solid;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
	width: 100%;
    background-color: $base_color;
    height: $navbar_height;
	@include md {
		position:static;
		width: 100%;
		height: auto;
	};

    .navbar_logo {
        float: left;
        padding: 15px;
        padding: 0px 15px 0px 15px;
		@include md {
			background-color: $base_color;
			float: left;
			padding: 0px;
			padding-left: 10px;
			text-align: center;
			//border-bottom: 1px solid $font_color_nav;
		};

        a {
            text-decoration: none;
            color: $font_color_nav;
            font-weight: bold;
        }

    }

    .navbar_menu {
        float: right;
        @extend .clear_float;


		@include md {
			position: absolute;
			top:$navbar_height;
			left: 0px;
			z-index: 1;
			background-color: $base_color;
			width: 100%;
			float: none;
			display: none;
		};

        ul {
            list-style: none;
			margin: 0px;
			margin-right: 10px;
			@include md {
				padding: 0px;
				margin: 0px;
			};

        }
        li{
            display: inline;
			@include md {
				padding: 0px;
				display: block;
				text-align: center;
			};
        }
        a {
            text-decoration: none;
            color: $font_color_nav;
            font-weight: bold;
			margin: 0px;
			padding: 20px 10px;
			box-sizing: border-box;
			display: inline-block;
			height: 100%;

			@include md{
				border-bottom: 1px solid $font_color_nav;
				padding: 0px;
				display: block;
				padding:8px;
			};
        }
		a:hover {
			border-bottom: 6px solid;

			@include md {
				border-bottom: 2px solid $font_color_nav;
				background-color: $footer_border_color;
			};
		}

    }

	.navbar_divisor {
		color: $aux_color;
	}
}

.general_divisor {
	color: $aux_color;
}


/* TOGGLE MENU */
#toggle-menu {
	display:none;
}
@include md {
	#toggle-menu {
	  	display: block;
		float: right;
	  	width: 28px;
	  	height: 30px;
	  	margin-top: 25px;
		padding-right: 8px;

	}

	#toggle-menu span:after,
	#toggle-menu span:before {
	  	content: "";
	  	position: absolute;
	  	left: 0;
	  	top: -9px;
	}
	#toggle-menu span:after{
	  	top: 9px;
	}
	#toggle-menu span {
	  	position: relative;
	  	display: block;
	}

	#toggle-menu span,
	#toggle-menu span:after,
	#toggle-menu span:before {
	  	width: 100%;
	  	height: 5px;
	  	background-color: $footer_color;
	  	border-radius: 2px;
	}
};
/* END TOGGLE MENU */


.footer {
	position: absolute;
	bottom: 0px;
	background-color: $footer_color;
	width: 100%;
	padding: 5px 10px 5px 0px;
	font-size: 95%;
	box-sizing: border-box;
	border-top: 1px solid $footer_border_color;

	.footer_cop{
		text-align: right;
		color: $footer_font_color;

		@include md {
			float: none;
			display: block;
			text-align: center;
		}
	}

	.footer_description {
		font-style: italic;
		float:left;
		text-align: left;
		color: $footer_font_color;

		@include md {
			float: none;
			display: block;
			text-align: center;
		};
	}
}


/* HOMEPAGE */
#perf_img {
    border-radius: 50%;
    transform: scale(0.65);
	@include md {
		width: 70%;
	};
    border-color: $font_color_nav;
    border-width: medium;
}
/* END HOMEPAGE */

/* CONTACTPAGE */
.contactpage {
	padding-top: 150px;
	@include md {
		padding-top: 50px;
	};

}
/* END CONTACTPAGE */

/* PROJECTSPAGE */
.category_menu {
	border-top: 1px solid $font_color_nav;
	border-bottom: 1px solid $font_color_nav;
	@extend .clear_float;

	@include md{
		display: none;
	};

	 ul {
		 list-style: none;
	 }
	 li {
		 display: inline;
	 }
	 a{
	     font-weight: bold;
	     padding: 2px 10px;
		 padding-top: 7px;
		 padding-bottom: 14px;
	     color: $font_color_nav;
	     text-decoration: none;
		 margin-bottom: 50px;
	 }
	 a:hover{
		 border-bottom: 3px solid $aux_color;
	 }
}

.posts_page {
	width: $post_page_width;
	padding: 0px;
	min-height: 100%;
	box-sizing: border-box;
	@include vertical_gradient($font_color_nav, $base_color);
	@extend .clear_float;

	@include md {
		width: 100%;
	};

}

.posts {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: yellow;
    padding: 0 30px;

    .posts_post {
        background-color: pink;
        width: 500px;
        height: 500px;
        box-sizing: border-box;
    }

    .posts_post-thumbnail {
        img {
            width: 500px;
            height: 350px;
            text-align: center;
        }
    }

    .posts_post-title {
    }

    .posts_post-info {
    }

    .posts_post-excerpt {    
    }

    .posts_post-meta {
    }
}

.post:last-child{
	padding-bottom: 60px;
}
/* END PROJECTSPAGE */

/* POSTTEXTPAGE */
.post_text_page {
	color: $base_color;
	margin-top: 0px;
	padding-top: 50px;
	padding-bottom: 50px;

	width: $text_page_width;
	min-height: 100%;
	box-sizing: border-box;
	background-color: $posts_bakcground_color;

	@include md {
		width: 100%;
	};

	.text_page_title {
		text-decoration: underline;
		font-weight: bold;
		font-size: 200%;
		@include md {
			font-size: 150%;
		};
	}

	.text {
		width: $text_page_textarea;
		display: block;
		margin: auto;
		margin-top: 35px;
		margin-bottom: 20px;
		text-align: left;
		@include md {
			width: $text_page_textarea_md;
		};

	}

	.note {
		margin-top: 35px;
		margin-bottom: 20px;
		text-align: center;
		font-style: italic;
		@include md {
			margin: 35px 10px 20px 10px;
		};
	}

	.main_img {
		img {
			width: $text_page_img_width;
			height: $text_page_img_height;
			border-radius: 10px;
			border: 2px solid $font_color_nav;
			box-sizing: border-box;
			@include md {
				width: $text_page_img_width;
				height: $text_page_img_height_md;
			};
		}
	}

	ul {
		margin: auto;
		text-align: left;
		width: $text_page_textarea;
	}


}
/* END POSTEXTPAGE */
