/* Color definitions */
/* Size definitions */
/* media query mixins*/
/* clearfix */
.row:before,
.row:after,
.clear_float:before,
.wrapper:before,
.navbar .navbar_menu:before,
.category_menu:before,
.posts_page:before,
.clear_float:after,
.wrapper:after,
.navbar .navbar_menu:after,
.category_menu:after,
.posts_page:after {
  content: "";
  display: table; }

.clear_float:after, .wrapper:after, .navbar .navbar_menu:after, .category_menu:after, .posts_page:after {
  clear: both; }

/* End clearfix */
html, body {
  margin: 0px;
  padding: 0px; }

html {
  box-sizing: border-box;
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  font-family: Helvetica, sans-serif; }

.wrapper {
  padding: 0px;
  padding-top: 60px;
  background-image: linear-gradient(to top, white, #a3a3a3); }
  @media only screen and (max-width: 780px) {
    .wrapper {
      padding-top: 0px; } }

.container {
  margin: 0px auto;
  padding: 0px;
  text-align: center; }

.current_page {
  border-bottom: 3px solid; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #303030;
  height: 60px; }
  @media only screen and (max-width: 780px) {
    .navbar {
      position: static;
      width: 100%;
      height: auto; } }
  .navbar .navbar_logo {
    float: left;
    padding: 15px;
    padding: 0px 15px 0px 15px; }
    @media only screen and (max-width: 780px) {
      .navbar .navbar_logo {
        background-color: #303030;
        float: left;
        padding: 0px;
        padding-left: 10px;
        text-align: center; } }
    .navbar .navbar_logo a {
      text-decoration: none;
      color: white;
      font-weight: bold; }
  .navbar .navbar_menu {
    float: right; }
    @media only screen and (max-width: 780px) {
      .navbar .navbar_menu {
        position: absolute;
        top: 60px;
        left: 0px;
        z-index: 1;
        background-color: #303030;
        width: 100%;
        float: none;
        display: none; } }
    .navbar .navbar_menu ul {
      list-style: none;
      margin: 0px;
      margin-right: 10px; }
      @media only screen and (max-width: 780px) {
        .navbar .navbar_menu ul {
          padding: 0px;
          margin: 0px; } }
    .navbar .navbar_menu li {
      display: inline; }
      @media only screen and (max-width: 780px) {
        .navbar .navbar_menu li {
          padding: 0px;
          display: block;
          text-align: center; } }
    .navbar .navbar_menu a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      margin: 0px;
      padding: 20px 10px;
      box-sizing: border-box;
      display: inline-block;
      height: 100%; }
      @media only screen and (max-width: 780px) {
        .navbar .navbar_menu a {
          border-bottom: 1px solid white;
          padding: 0px;
          display: block;
          padding: 8px; } }
    .navbar .navbar_menu a:hover {
      border-bottom: 6px solid; }
      @media only screen and (max-width: 780px) {
        .navbar .navbar_menu a:hover {
          border-bottom: 2px solid white;
          background-color: #b3b3b3; } }
  .navbar .navbar_divisor {
    color: #0372B5; }

.general_divisor {
  color: #0372B5; }

/* TOGGLE MENU */
#toggle-menu {
  display: none; }

@media only screen and (max-width: 780px) {
  #toggle-menu {
    display: block;
    float: right;
    width: 28px;
    height: 30px;
    margin-top: 25px;
    padding-right: 8px; }

  #toggle-menu span:after,
  #toggle-menu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px; }

  #toggle-menu span:after {
    top: 9px; }

  #toggle-menu span {
    position: relative;
    display: block; }

  #toggle-menu span,
  #toggle-menu span:after,
  #toggle-menu span:before {
    width: 100%;
    height: 5px;
    background-color: #a3a3a3;
    border-radius: 2px; } }
/* END TOGGLE MENU */
.footer {
  position: absolute;
  bottom: 0px;
  background-color: #a3a3a3;
  width: 100%;
  padding: 5px 10px 5px 0px;
  font-size: 95%;
  box-sizing: border-box;
  border-top: 1px solid #b3b3b3; }
  .footer .footer_cop {
    text-align: right;
    color: #e6e6e6; }
    @media only screen and (max-width: 780px) {
      .footer .footer_cop {
        float: none;
        display: block;
        text-align: center; } }
  .footer .footer_description {
    font-style: italic;
    float: left;
    text-align: left;
    color: #e6e6e6; }
    @media only screen and (max-width: 780px) {
      .footer .footer_description {
        float: none;
        display: block;
        text-align: center; } }

/* HOMEPAGE */
#perf_img {
  border-radius: 50%;
  transform: scale(0.65);
  border-color: white;
  border-width: medium; }
  @media only screen and (max-width: 780px) {
    #perf_img {
      width: 70%; } }

/* END HOMEPAGE */
/* CONTACTPAGE */
.contactpage {
  padding-top: 150px; }
  @media only screen and (max-width: 780px) {
    .contactpage {
      padding-top: 50px; } }

/* END CONTACTPAGE */
/* PROJECTSPAGE */
.category_menu {
  border-top: 1px solid white;
  border-bottom: 1px solid white; }
  @media only screen and (max-width: 780px) {
    .category_menu {
      display: none; } }
  .category_menu ul {
    list-style: none; }
  .category_menu li {
    display: inline; }
  .category_menu a {
    font-weight: bold;
    padding: 2px 10px;
    padding-top: 7px;
    padding-bottom: 14px;
    color: white;
    text-decoration: none;
    margin-bottom: 50px; }
  .category_menu a:hover {
    border-bottom: 3px solid #0372B5; }

.posts_page {
  width: 80%;
  padding: 0px;
  min-height: 100%;
  box-sizing: border-box;
  background-image: linear-gradient(to top, white, #a3a3a3); }
  @media only screen and (max-width: 780px) {
    .posts_page {
      width: 100%; } }

.posts {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background-color: yellow;
  padding: 0 30px; }
  .posts .posts_post {
    background-color: pink;
    width: 500px;
    height: 500px;
    box-sizing: border-box; }
  .posts .posts_post-thumbnail img {
    width: 500px;
    height: 350px;
    text-align: center; }

.post:last-child {
  padding-bottom: 60px; }

/* END PROJECTSPAGE */
/* POSTTEXTPAGE */
.post_text_page {
  color: #303030;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: lightgray; }
  @media only screen and (max-width: 780px) {
    .post_text_page {
      width: 100%; } }
  .post_text_page .text_page_title {
    text-decoration: underline;
    font-weight: bold;
    font-size: 200%; }
    @media only screen and (max-width: 780px) {
      .post_text_page .text_page_title {
        font-size: 150%; } }
  .post_text_page .text {
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: left; }
    @media only screen and (max-width: 780px) {
      .post_text_page .text {
        width: 85%; } }
  .post_text_page .note {
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic; }
    @media only screen and (max-width: 780px) {
      .post_text_page .note {
        margin: 35px 10px 20px 10px; } }
  .post_text_page .main_img img {
    width: 65%;
    height: 350px;
    border-radius: 10px;
    border: 2px solid white;
    box-sizing: border-box; }
    @media only screen and (max-width: 780px) {
      .post_text_page .main_img img {
        width: 65%;
        height: 150px; } }
  .post_text_page ul {
    margin: auto;
    text-align: left;
    width: 70%; }

/* END POSTEXTPAGE */

/*# sourceMappingURL=style.css.map */
