/* Color definitions */
/* Size definitions */
/* clearfix */
.row:before,
.row:after,
.clear_float:before,
.navbar .navbar_menu:before,
.clear_float:after,
.navbar .navbar_menu:after {
  content: "";
  display: table; }

.clear_float:after, .navbar .navbar_menu:after {
  clear: both; }

/* End clearfix */
html, body {
  margin: 0px;
  padding: 0px; }

html {
  box-sizing: border-box;
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  font-family: Helvetica, sans-serif; }

.wrapper {
  padding: 0px;
  padding-top: 60px;
  background-image: linear-gradient(to top, white, #a3a3a3); }

.container {
  margin: 0px auto;
  padding: 0px;
  text-align: center; }

.current_page {
  border-bottom: 3px solid; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #303030;
  height: 60px; }
  .navbar .navbar_logo {
    float: left;
    padding: 15px;
    padding: 0px 15px 0px 15px; }
    .navbar .navbar_logo a {
      text-decoration: none;
      color: white;
      font-weight: bold; }
  .navbar .navbar_menu {
    float: right; }
    .navbar .navbar_menu ul {
      list-style: none;
      padding: 5px 15px 5px 15px; }
    .navbar .navbar_menu li {
      display: inline;
      padding: 2px 0px; }
    .navbar .navbar_menu a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      padding: 0px 10px; }
    .navbar .navbar_menu a:hover {
      border-bottom: 3px solid; }
  .navbar .navbar_divisor {
    color: #0372B5; }

.footer {
  position: absolute;
  bottom: 0px;
  background-color: #a3a3a3;
  width: 100%;
  padding: 5px 10px 5px 0px;
  font-size: 95%;
  box-sizing: border-box;
  border-top: 1px solid #b3b3b3; }
  .footer .footer_cop {
    text-align: right;
    color: #e6e6e6; }

/* HOMEPAGE */
#perf_img {
  border-radius: 50%;
  transform: scale(0.65);
  border-color: white;
  border-width: medium; }

/* END HOMEPAGE */
/* CONTACTPAGE */
.contactpage {
  padding-top: 150px; }

/* END CONTACTPAGE */
/* PROJECTSPAGE */
.category_menu {
  border-top: 1px solid white;
  border-bottom: 1px solid white; }
  .category_menu ul {
    list-style: none; }
  .category_menu li {
    display: inline; }
  .category_menu a {
    font-weight: bold;
    padding: 2px 10px;
    padding-top: 7px;
    color: white;
    text-decoration: none; }
  .category_menu a:hover {
    border-top: 3px solid white; }

.posts_page {
  width: 80%;
  padding: 0px;
  min-height: 100%;
  box-sizing: border-box;
  background-color: lightgray; }

.post {
  padding-top: 60px; }
  .post .post_thumbnail img {
    width: 55%;
    height: 280px;
    border-radius: 20px;
    border: 2px solid white;
    box-sizing: border-box; }
  .post .post_excerpt {
    width: 60%;
    margin: auto;
    text-align: left;
    border-bottom: 1px solid #b0b0b0; }
    .post .post_excerpt .post_title {
      display: block;
      margin-top: 20px;
      font-size: 135%;
      font-weight: bold; }
      .post .post_excerpt .post_title a {
        text-decoration: none;
        color: #303030; }
      .post .post_excerpt .post_title a:hover {
        text-decoration: underline; }
    .post .post_excerpt .post_info {
      color: #a3a3a3;
      margin: 6px 0px 0px 0px; }
      .post .post_excerpt .post_info a {
        color: #a3a3a3; }
    .post .post_excerpt .post_meta {
      color: #303030;
      margin: 10px 0px 30px 10px; }

.post:last-child {
  padding-bottom: 60px; }

/* END PROJECTSPAGE */
/* POSTTEXTPAGE */
.post_text_page {
  color: #303030;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: lightgray; }
  .post_text_page .text_page_title {
    text-decoration: underline;
    font-weight: bold;
    font-size: 200%; }
  .post_text_page .text {
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: left; }
  .post_text_page .note {
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic; }
  .post_text_page .main_img img {
    width: 65%;
    height: 350px;
    border-radius: 10px;
    border: 2px solid white;
    box-sizing: border-box; }
  .post_text_page ul {
    margin: auto;
    text-align: left;
    width: 70%; }

/* END POSTEXTPAGE */

/*# sourceMappingURL=style.css.map */
