<div class="navbar>
    <ul class="navbar__left">
        <% for(let item of theme.left_menu) {%>
            <li class="navbar__item"><%= item %></li>
        <% } %>
    </ul>
    <ul class="navbar__right">
        <% for(let item of theme.right_menu) {%>
            <li class="navbar__item"><%= item %></li>
        <% } %>
    </ul>
</div>

