<div class="navbar">
    <div class="navbar__menu">
        <div class="navbar__logo">
            <span class="navbar__logo--at">@</span><span class="navbar__logo--txt">ARACYLA</span> <span class="navbar__logo--tilde">~</span>/HOME/
        </div>
        <div class="burger">
            <div class="burger__icon">
            </div>
        </div>
        <ul class="navbar__menu-items">
            <% for(let item of theme.menu) {%>
                <li><%= item %></li>
            <% } %>
        </ul>
    </div>
</div>

