
    <div class="category_menu">
        <div class="container">
            <ul>
                <li><a class="{% if page.url == '/showcase_intership.html' %}current_page{% endif %}" href="{{site.baseurl}}/showcase_intership.html">Intership</a> <span class="general_divisor">--</span> </li>
                <li><a class="{% if page.url == '/showcase_personal.html' %}current_page{% endif %}" href="{{site.baseurl}}/showcase_personal.html" >Personal</a> <span class="general_divisor">--</span> </li>
                <li><a class="{% if page.url == '/showcase_professional.html' %}current_page{% endif %}" href="{{site.baseurl}}/showcase_professional.html">Professional</a></li>
            </ul>
        </div>
    </div>
