<!-- navbar begin https://aracytopterm.github.io/ -->
<div class="navbar clear_float">
    <div class="navbar_logo clear_float"><h3><a href="{{site.baseurl}}/index.html">LEONARDO <span class="navbar_divisor">~</span>/HOME/</a></h3></div>
    <div class="navbar_menu clear_float">
        <ul class="clear_float">
            <li><a class="{% if page.url == '/' %}current_page{% endif %}" href="{{site.baseurl}}/index.html">HOMEPAGE</a></li>
            <li><a class="{% if page.title == 'Showcase' %}current_page{% endif %}" href="{{site.baseurl}}/showcase_posts.html">PROJECTS</a></li>
            <li><a class="" href="https://github.com/aracytopterm?tab=repositories">PLAYGROUND</a></li>
            <li><a class="{% if page.url == '/contact.html' %}current_page{% endif %}" href="{{site.baseurl}}/contact.html">CONTACT</a></li>
        </ul>
    </div>
    <a id="toggle-menu" class="clear_float"><span></span></a>
</div>
<!-- navbar end-->
