.navbar {
    background-color: $main-black;
    color: $navbar-font-color;
    height: $navbar-height;
    line-height: $navbar-height;
    font-size: $navbar-font-size;

    &__menu {
        max-width: 1300px;
        margin: auto;
        display: grid;
        grid-template-columns: .3fr 1fr;
    }

    &__logo {
        padding-right: 20px;
        transition: color .3s ease;
        font-family: 'logo-font';
        font-size: $navbar-logo-font-size;
        text-align: left;

        & span {
            font-family: 'logo-font';
        }

        &:hover {
            cursor: pointer;
            color: #999;
        }

        &--at {
            color: $main-blue;
        }

        &--txt {
            color: white;
        }

        &--tilde {
            color: $main-blue;
        }
    }

    &__menu-items {
        text-align: right;
        li {
            display: inline-block;
        }
    }

    &__item {
        padding: 0 10px;
        transition: color .3s ease;
        &:hover {
            cursor: pointer;
            color: white;
        }
    }
}
