$main-black: #161719;
$main-blue: #0372B5;

//navbar defs
$navbar-font-color: #777;
$navbar-height: 60px;
$navbar-font-size: 1.2rem;
$navbar-logo-font-size: 1.3rem;
@font-face {
    font-family: 'logo-font';
    src: url('./../../fonts/logo-font.ttf');
}

